:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;
  color: #BBBBBBFF;
  background-color: #242424;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #5b5b5b;
}

button, input, Link, a {
  color: #BBBBBBFF;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 0.5px;
  border-radius: 10px;
  text-decoration: none;
}

